.btn-login{
    width: 100%;
    background-color:rgba(47, 255, 220, 0.747);
    color: black;
}

.login{
    text-align: center;
    width: fit-content;
    height: fit-content;
    color: white;

}
.inputs{
    padding: 1em;
    background-color: rgba(128, 128, 128, 0.473);
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
}

.form{
    margin: 1em;
    padding: 1em;
    background-color: rgba(128, 128, 128, 0.473);
}

.form h2{
    text-align: center;
    color: rgb(0, 153, 255);
    border-bottom: solid;
    border-color: grey;
}

.btn-submit{
    text-align: center;
}

.login-card{
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    color: black;
}

.login-description{
    display: flex;
    align-items: center;
}

.login-with{
    text-align: center;
}

.fondo1{
    background-image: url(/img/fondo.jpg);
    background-size: cover;
}

.input-form{
    display: flex;
    align-items: center;
    gap: 1em;
}

.contenedor{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header a{
    text-decoration: none;
}

.celda-login{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
}

.icon{
    display: flex;
    justify-content: center;
}

.contacto{
    margin: 5px;
}

.header1{
    border-radius: 5px;
}
.header2{
    background-color: rgba(49, 168, 236, 0.952) !important;
}
.item{
    margin-left: 1em;
}

.titular{
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    background-color: rgba(128, 128, 128, 0.514);
}

.articulo{
    width: 90%;
    height: 15em;
    background-color: rgba(128, 128, 128, 0.425);
}

.titulo{
    color: rgb(0, 132, 255);
}

.table{
    border: solid;
    border-width: 1px;
}

.table td,th{
    border: solid;
    border-width: 1px;
}

.select{
    width: 10em;
    height: 2em;
}

img{
    width: 1rem;
}

.oscuro{
    background-color: rgba(128, 128, 128, 0.582);
}

h5 a{
    text-decoration: none;
}
.contenido{
    margin: 2em;
    padding: 2em;
}

ul{
    list-style: none;
}

ul li a{
    text-decoration: none;
}